<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT

    Interface to general settings to change communication, data export or UI
-->

<div 
    id="general" 
    role="tabpanel" 
    aria-expanded="True"
    {% if tabname == "general" %}
        class="tab-pane active show"
    {% else %}
        class="tab-pane"
    {% endif %}>

    <!-- 
        Section: General
    -->

    <div class="h4 d-flex justify-content-center p-2">
        General
    </div>

    <form method="post" action=''>
        {% csrf_token %}
        <table class="table">
            <tbody id="muxTable">
                <tr>
                    <td>
                        Choose Server if you want to store measurement data on the Raspberry Pi or 
                        if you just want to monitor current values and access measurement values via the RESTapi interface (Stream mode). 
                        Streaming mode is recommended if the mashine connected to the sensors is not powerful enough
                        to handle large amounts of sensor data (longtime measurements or huge amount of sensors). 
                    </td>
                    <td>
                        {{ measurement_mode_form.daq_mode }}
                    </td>
                </tr>
                <tr>
                    <td id="spi_switch_description">
                        Choose Multiplexer if a Multiplexer (MUX) is connected to your FTDI.
                        The current implementation only allows for 5 SPI devices on a single FTDI if no MUX is used.
                        A MUX currently allows for up to 16 SPI devices on a single FTDI
                    </td>
                    <td>
                        {{ measurement_mode_form.spi_mux_mode }}
                    </td>
                    <td>
                        <button class="btn btn-success" type="submit" value="measurementSettings"> Set </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <!-- 
        Section: Server settings
    -->

    <div class="h4 d-flex justify-content-center p-2">
        Server mode settings
    </div>

    <form method="post" action=''>
        {% csrf_token %}
        {% for key, value in measurement_settings_form.errors.items %}
            <div class="alert alert-danger">
                <strong>{{ value.as_text }}</strong>
            </div>
        {% endfor %}
        <table class="table">
            <tbody id="muxTable">
                <tr>
                    <td>
                        Time period used for mean calculation in data plots. (0 == no downsampling) [seconds]
                    </td>
                    <td>
                        {{ measurement_settings_form.avg_bucket_size}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Export NetCDF files using a unified time axis where measurement values are interpolated on a common
                        sampling grid.
                        This option is only recommended if your measurement set-up does not exhibit large sampling frequency variations.
                    </td>
                    <td>
                        {{ measurement_settings_form.unified_timescale }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Number of samples for mean calculation. 
                        This has to be lower than the number of samples 
                        for each sensor stored in the databse.
                    </td>
                    <td>
                        {{ measurement_settings_form.live_mean }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Time until a "Sensor is not responding" warning is displayed
                    </td>
                    <td>
                        {{ measurement_settings_form.warning_time}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Maximum height of tables displayed in the live data view [px] 
                    </td>
                    <td>
                        {{ measurement_settings_form.live_view_table_height}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Maximum sampling frequency for all sensors (&lt; 0 no threshold) [Hz]
                    </td>
                    <td>
                        {{ measurement_settings_form.max_freq }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="systemSettings" value="settingsMenu"> 
                    </td>
                    <td>
                        <button class="btn btn-success" type="submit" > Set </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <!-- 
        Section: MQTT 
    -->

    <div class="h5 d-flex justify-content-center p-2">
        MQTT 
        {% if mqtt.connected %}
            <span style="margin-left:10px" class="badge badge-success"> Connected </span>
        {% else %}
            <span style="margin-left:10px" class="badge badge-danger"> No connection</span>
        {% endif %}
    </div>

    <form method="post" action=''>
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-hover" style="table-layout:fixed">
                <tbody> 
                    <tr>
                        <td>
                            Topic
                        </td>
                        <td>
                            {{ mqtt_settings_form.topic }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Host
                        </td>
                        <td>
                            {{ mqtt_settings_form.host }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Port
                        </td>
                        <td>
                            {{ mqtt_settings_form.port }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Username
                        </td>
                        <td>
                            {{ mqtt_settings_form.user }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password
                        </td>
                        <td>
                            {{ mqtt_settings_form.password }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" name="mqttSettings" value="settingsMenu"> 
                        </td>
                        <td>
                            <button class="btn btn-success" type="submit" value="submit"> Set </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
