<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT

    Interface to review system log 
-->



<div {% if tabname == "log" %}class="tab-pane active show"{% else %}class="tab-pane"{% endif %} id="log" role="tabpanel" aria-expanded="True">
    <div class="h4 d-flex justify-content-center p-2">
        Log
    </div>
    <a href="/api/log" class="btn btn-info" role="button">Complete Log</a>
    <button class="btn btn-danger" onclick="document.getElementById('delete_all_alert').style.display='block'"> 
        Delete all	
    </button>
    <div class="alert alert-warning alert-dismissible fade show" id="delete_all_alert" style="display:none">
        <strong>Warning!</strong> You are about to clear the entire log.
        <button type="button" class="close" aria-label="Close" onclick="document.getElementById('delete_all_alert').style.display='none'">
            <span aria-hidden="true">&times;</span>
        </button>
        <form method="post" action=''> 
            {% csrf_token %}  
            <button class="btn btn-danger" type="submit" name="delete_all_log" value="all" > 
                Delete all	
            </button>
        </form>
    </div>
    <table class="table sortableTable">	
        <thead class="thead-light">
            <th colnumber=0> Type &nbsp;<i class="fas fa-sort"></th>
            <th colnumber=1> Time &nbsp;<i class="fas fa-sort"></th>
            <th colnumber=2> Message &nbsp;<i class="fas fa-sort"></th>
        </thead>
        <tbody id="logTable">
            {% for l in log %} 
                <tr>
                    <td>
                        {{ l.typ }}
                    </td>
                    <td>
                        {{ l.time }}
                    </td>
                    <td>
                        {{ l.message }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

