<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT

    Interface to display host system information
-->

<div 
    id="system"
    role="tabpanel"
    aria-expanded="True"
    {% if tabname == "system" %}
        class="tab-pane active show"
    {% else %}
        class="tab-pane"
    {% endif %}>

    <div class="h4 d-flex justify-content-center p-2">
        System information
    </div>

    <table class="table">	
        <tbody id="systemInfoTable">
            <tr>
                <td>
                   Software Release
                </td>
                <td>
                    {{mms_info.tag}}
                </td>
            </tr>
            <tr>
                <td>
                   Hostname
                </td>
                <td>
                    {{mms_info.hostname}}
                </td>
            </tr>
            <tr>
                <td>
                   System version 
                </td>
                <td>
                    {{mms_info.PRETTY_NAME}} ({{ mms_info.debian_version}})
                </td>
            </tr>
            <tr>
                <td>
                    Latest commit
                </td>
                <td>
                    <a href="https://gitlab.com/Egenskaber/mobile-measurement-system/-/commit/{{ mms_info.commit_full}}" >
                        {{ mms_info.commit_short }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Hardware type
                </td>
                <td>
                    {{ mms_info.device.type}}
                </td>
            </tr>
            <tr>
                <td>
                    CPU
                </td>
                <td>
                    {{ mms_info.device.cpu}}
                </td>
            </tr>
        </tbody >
    </table>
</div>

