<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT
-->
<div class="col-4">
  <table class="table table-hover table-sm result-table" id="{{unit.qty}}Table" >
  <thead class="thead-dark">
    <tr>
        <th
          style="border-radius: 8px 0 0 0;border-top-width:0;"
          id="{{unit.qty}}-sort-value"
          class="text-center"
         >
        </th>
      <th class="sensor-col sensor-th"
        scope="col" 
        active=false
        id="{{unit.qty}}-sort-name"
        idx=0
        quantity={{unit.qty}}
        direction=none
        style="border-top-width:0;"
        >
          Sensor
        <i class="fas fa-sort"></i>
      </th>
      <th 
          scope="col" 
          active=false
          id="{{unit.qty}}-sort-value"
          quantity={{unit.qty}}
          direction=none
          idx=1
          class="result-col table-qty"
          style="border-top-width:0;"
          >
          <span class="qty"></span>

          <i class="fas fa-sort">
      </th>
      <th class="checkbox-col">
          <input type="checkbox" value="{{unit.qty}}" class="multi-select-qty">
      </th>
    </tr>
  </thead>
  <tbody class="value-tab"style="height:{{live_view_table_height}}px">
    <tr hidden id="sensor-default" >
      <td class="sensor-col" scope="col" colspan="2">
        <div style="float:left">
          <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sensor-slug">Slug</span>
            <i class="fas fa-exclamation-triangle text-warning sensor-state"
               data-toggle="tooltip"
               data-placement="right"
               title="Errors 1/10"></i>
          </div>
          <!-- <div class="dropdown-menu dropdown-menu-right sensor-info">-->
          <div class="dropdown dropdown-menu sensor-info">
              <table>
                  <tr class="serial"><td class="serial">SN</td><td><span class="value"></span></td></tr>
                  <tr class="frequency"><td class="label">Frequency</td><td><span class="value">0</span> Hz</td></tr>
                  <tr hidden class="ftdi"><td class="label">FTDI</td><td><span class="value">0</span></td></tr>
                  <tr hidden class="mux"><td class="label">MUX</td><td><span class="value">0</span></td></tr>
                  <tr hidden class="port"><td class="label">Port</td><td><span class="value">0</span></td></tr>
                  <tr hidden class="com"><td class="label">COM</td><td><span class="value">0</span>Hz</td></tr>
              </table>
          </div>
        </div>
      </td>
      <td class="result-col" scope="col"><span class="current-value">?</span>
        <span class="unit" sign="{{unit.sign}}"></span>
      </td>
      <td>
          <input type="checkbox" class="checkbox sensor {{unit.qty}}-sensor" >
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-hover table-sm result-table" id="{{unit.qty}}Table">
  <tfoot class="bg-secondary text-light">
      <tr class="derived"
          >
          <td scope="col" class="bg-light" style="border:0px"></td>
          <td 
              align="right"><div class="right" tooltip="Average value of selected sensors.">&Oslash;</div></td>
          <td>
            <span class="mean-value">?</span>
            <span class="unit" sign="{{unit.sign}}"></span>
          </td>
          <td>
            <i class="fas fa-level-down-alt" style="transform: rotate(90deg);"></i>
          </td>
      </tr>
      <tr class="derived">
          <td scope="col" class="bg-light" style="border:0px"></td>
          <td align="right"><div class="right" tooltip="Average value of selected sensors.">min.</div></td>
          <td>
            <span class="min-value">?</span>
            <span class="unit" sign="{{unit.sign}}"></span>
          </td>
          <td>
            <i class="fas fa-level-down-alt" style="transform: rotate(90deg);"></i>
          </td>
      </tr>
      <tr class="derived">
          <td scope="col" class="bg-light" style="border:0px"></td>
          <td align="right"><div class="right" tooltip="Maximum value of selected sensors.">max.</div></td>
          <td>
            <span class="max-value">?</span>
            <span class="unit" sign="{{unit.sign}}"></span>
          </td>
          <td>
            <i class="fas fa-level-down-alt" style="transform: rotate(90deg);"></i>
          </td>
      </tr>
  </tfoot>
</table>
</div>
