<div id="{{unit.qty}}" style="position:absolute;overflow:auto;resize:both;width:500px"> 
    <div hidden id="{{unit.qty}}pos">{{pos}}</div>
    <div id="{{unit.qty}}header">
        <i class="fas fa-arrows-alt"></i>
    </div>
    <canvas 
        class="chart" 
        data_type={{ unit.qty }}
        style="background:#f9f9f9;padding:5px"
        url="{{ measurement_url }}">
    </canvas>
</div>

<script>
//Make the DIV element draggagle:
elmnt = document.getElementById("{{unit.qty}}");
pos = document.getElementById("{{unit.qty}}pos").innerHTML;
elmnt.style.left = 50 + (pos% 3) * 600 + 'px';
elmnt.style.top = 150 + parseInt(pos/ 3)* 400 + 'px';
  
dragElement(elmnt);

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    /* if present, the header is where you move the DIV from:*/
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    /* otherwise, move the DIV from anywhere inside the DIV:*/
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
</script>
