<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT

    Main design template
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Konstantin Niehaus konstantin.niehaus@dlr.de">
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        <title>MMS</title>

		<!-- Bootstrap 4 -->
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
		<script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
        <!-- Custom -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/settings/#about">
            <img src="/static/img/dlr_logo.gif" width="40" alt="DLR Göttingen - AS-BOA">
        </a>    
		<button class="navbar-toggler" 
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'init' %}"> 
                    <i class="fas fa-microchip" ></i>
					Setup 
				</a>
            </li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'start' %}"> 
					<span class="fas fa-rocket" ></span>
					Measurement
				</a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="{% url 'plot' %}"> 
					<span class="fas fa-chart-bar" ></span>
					Visualization
				</a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="{% url 'settings' %}"> 
                    <i class="fas fa-wrench" ></i>
					Settings
				</a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="{% url 'downloads' %}"> 
                    <i class="fas fa-file-pdf" ></i>
					Datasheets
				</a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="{% url 'settings' %}#data"> 
                    <i class="fas fa-database" ></i>
					Data
				</a></li>
			<li class="nav-item">
                <a class="nav-link" href="{% url 'live' %}" id="li_live" style="display:none;color:red;"> 
                    <i class="fas fa-circle"></i>
					Live
				</a>
            </li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
                <div style="font-size:8pt; color:white; width:100px">
                    <table>
                        <tbody>
                        <tbody>
                    </table>
                </div>
			</li>
			<li class="nav-item">
                <form id="quick-form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" id="start_measurement" name="quick" value="start" style="display:none">
                        <i class="fas fa-play"></i>
                        Start
                    </button>
                    <button type="submit" class="btn btn-danger" id="stop_measurement" name="quick" value="stop" style="display:none">
                        <i class="fas fa-stop"></i>
                        Stop
                    </button>
                </form>
                <a id="init_measurement" href="{% url 'init'%}" style="display:none">
                    <button class="btn btn-warning" id="init_btn" name="init" >
                        <i class="fas fa-play"></i>
                        Init
                    </button>
                </a>
			</li>
		</ul>
		</div>
		</nav>

		<!-- if a measurement is running display live in main nav -->
		<script type="text/javascript"> 
            $(document).ready(function() {
                $(document).on("submit", "#quick-form", function(){
                    let val = "start"
                    if ($("#stop_measurement")[0].style.display == "block") {
                        val = "stop"
                    }
                    $.post("/api/quick", data={"quick": val})
                    return false;
                })
            })

			updateLiveNav = function (){
				var live_data= document.getElementById("li_live");
				var start = document.getElementById("start_measurement");
				var stop = document.getElementById("stop_measurement");
				var init = document.getElementById("init_measurement");
                // number of connected ftdi
				var no_ftdi = document.getElementById("no_ftdi");
				var no_sensors = document.getElementById("no_sensors");
				var comport_count = document.getElementById("comport_count");
				var ftdi_count = document.getElementById("ftdi_count");
				var sensor_count = document.getElementById("sensor_count");

				// get init data from API
				fetch('/api/measurement/')
				.then(function(response) {
					return response.json();
				}).then(function(response){
				var live = response.slice(-1)[0];
				try {
                    no_ftdi.innerHTML = live.connected_ftdi
                    no_comport.innerHTML = live.connected_comports
                    no_sensors.innerHTML = live.connected_sensors
                    if (live.connected_ftdi !== 0) {
                        ftdi_count.classList.remove("text-danger")
                    } else {
                        ftdi_count.classList.add("text-danger")
                    }
                    if (live.connected_ftdi !== 0) {
                        ftdi_count.classList.remove("text-danger")
                    } else {
                        ftdi_count.classList.add("text-danger")
                    }
                    if (live.connected_sensors !== 0) {
                        sensor_count.classList.remove("text-danger")
                    } else {
                        sensor_count.classList.add("text-danger")
                    }
                    if (live.active && live.connected_sensors > 0){
						//display button if measurement is running
						start.style.display = "none";
						stop.style.display = "block";
						live_data.style.display = "block";
                        init.style.display = "none";
                    } else if (live.connected_sensors > 0) {
						live_data.style.display = "none";
						stop.style.display = "none";
						start.style.display = "block";
                        init.style.display = "none";
                    } else if (live.connected_sensors === 0) {
						live_data.style.display = "none";
						stop.style.display = "none";
						start.style.display = "none";
                        init.style.display = "block";
                    }

				}
				catch {
					live_data.style.display = "none";
				}
				});
			};
			updateLiveNav();
			setInterval(function(){updateLiveNav();},1000);
		</script>


		<!-- Content plot -->
		<div class="container-fluid wrapper">
			<div class="row">
				<div class="col-md-12">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>

		<!--Bootstrap Setup-->
        <footer class="footer text-center text-lg-start">
            <div class="text-center p-3 footer-box">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-4 mb-4">
                    <div id="">
                      <div id="ftdi_count" style="display:inline">
                        <i class="fas fa-microchip "></i> 
                      </div>
                      FTDI <span id="no_ftdi"> ? </span>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 mb-4">
                    <div id="comport_count" style="display:inline">
                      <i class="fas fa-microchip "></i> 
                    </div>
                    COM <span id="no_comport"> ? </span>
                  </div>
                  <div class="col-lg-4 col-md-4 mb-4">
                    <div id="sensor_count" style="display:inline">
                      <i class="fas fa-thermometer-half "></i> 
                    </div>
                    Sensors <span id="no_sensors"> ? </span>
                  </div>
              </div>
            <!-- Copyright -->
        </footer>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   	</body>
</html>

