<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT
-->

{% extends "measurement_server/bootstrap_base.html" %}
{% load measurement_server_extras %}
{% load static %}
{% load staticfiles %}


{% block pageTitle %} 
        Data Visualization      
{% endblock %}

{% block content %}
  <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"> </script>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="h2 d-flex justify-content-center p-2">
          Data Visualization       
        </div>
      </div>
    </div>
  </div>

  {% if measurement_exists %}
    <div class="row">
      <!-- Details about selected measurement. -->
      <div class="col-sm">
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseMeasurementInfo" aria-expanded="false" aria-controls="collapseMeasurementInfo">
          Measurement Info
        </button>
        <div class="collapse" id="collapseMeasurementInfo">
          {% include "measurement_server/includes/measurement_info.html" with quantity=unit.qty %}
        </div>
      </div>
      <div class="col-sm">
        <form method="post" action='' id="id_measurement_select_menu">
          {% csrf_token %}
          Selected run
          <input style="display:none" type="hidden" name="form" value="select_measurement"/>
          {{ measurement_form.measurement_name }}
        </form>
      </div>
      <div class="col-sm" style="text-align:right">
        <div class="dropdown" style="float:left">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
          </button>
          <form method="post" action='' id="id_visualization_settings_form"> 
            {% csrf_token %}  
            <div class="dropdown-menu" id="id_visualization_settings" aria-labelledby="dropdownMenuSettings" style="width:300px">
              <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Avg. period</span>
                </div>
                <input
                    type="number"
                    class="form-control"
                    name="avg_bucket_size"
                    value="{{visualization_settings.avg_bucket_size.value}}"
                    required=""
                    id="id_avg_bucket_size"
                    aria-describedby="basic-addon3"
                  >
                <div class="input-group-append">
                  <span class="input-group-text">sec.</span>
                </div>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon4">Max. period</span>
                </div>
                <input
                    type="number"
                    class="form-control"
                    name="plot_period"
                    value="{{visualization_settings.plot_period.value}}"
                    required=""
                    id="id_plot_period"
                    aria-describedby="basic-addon4"
                  >
                <div class="input-group-append">
                  <span class="input-group-text">min</span>
                </div>
              </div>
              <input style="display:none" type="submit" name="form" value="adjust_visualization"/>
            </div>
          </form>
        </div>
        <div class="dropdown pl-2" style="float:left">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuDownload" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Download
          </button>
          <form method="post" action='' > 
          {% csrf_token %}  
          <div class="dropdown-menu" aria-labelledby="dropdownMenuDownload">
            {% for export_fmt in export_formats %}
              <button class="dropdown-item" type="submit" name="save" value="{{ measurement_details.id }}_{{export_fmt.extension}}">
                {{export_fmt.name}}
              </button>
            {% endfor %}
          </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Measurement selection -->
    <!-- Live update corresponsing to the value selected in the dropdown. -->
    <script>
        var selection_field = document.getElementById("id_measurement_name");
        
        $(document).ready(function() {
            $('#id_measurement_name').change(function() {
                event.preventDefault();
                $('#id_measurement_select_menu').submit();
            });
        });

    </script>

    <!-- add sumit function via enter to settings menu -->
    <script>
        $(document).ready(function() {
            $('#id_visualization_settings').find('input').keyup(function(event) {
                if (event.which === 13)
                {
                    event.preventDefault();
                    $('#id_visualization_settings_form').submit();
                }
            });
        });
    </script>

    <!-- Charts area with one chart for each value type. -->
    {% for unit in units %}
      {% include "measurement_server/includes/plots.html" with quantity=unit.qty pos=forloop.counter0%}
    {% endfor %}
    {{ sensor_numbers|json_script:"sensor_numbers" }}
    {{ sensor_plot_settings|json_script:"sensor_plot_settings" }}

    <!-- Generate charts and update. -->
    <script type="text/javascript">
        // Update all charts and add values.
        var sensor_types = []
        for (const [sensor_type, count] of Object.entries(JSON.parse(document.getElementById('sensor_numbers').textContent))) {
          if (count > 0) {
            sensor_types.push(sensor_type)
          }
        }

        var plt_settings = {}
        var valid_data_types= []

        var sensor_plot_settings = Object.entries(JSON.parse(document.getElementById('sensor_plot_settings').textContent))
        for (const [serial, active_entries] of Object.entries(JSON.parse(document.getElementById('sensor_plot_settings').textContent))) {
          plt_settings[serial] = active_entries
          for (const [_,unit] of Object.entries(active_entries)) {
            if (valid_data_types.indexOf(unit) <0) {
              valid_data_types.push(unit)
            }
          }
        }
        $("canvas").each(function(index, obj) {
          let chart_data_type = $(obj).attr("data_type")
          if (valid_data_types.indexOf(chart_data_type) < 0) {
              obj.remove()
          }
        })

        const data_types = {
            "humidity": "Humidity [%]",
            "adc": "ADC Counts [-]",
            "diff_pressure": " Diff. pressure [Pa]",
            "abs_pressure": "Abs. pressure [Pa]",
            "temperature": "Temperature [°C]",
            "dewpoint": "Dewpoint [°C]",
            "dU01": "Voltage [V]",
            "density": "Density [kg/m³]",
            "volumeflow": "Volumeflow [slm]",
            "co2": "CO2 [ppm]",
            "tps": "Typical particle size [μm]",
            "n_03_to_0_5_mu": "Particles 0.3-0.5 μm [1/cm³]",
            "n_03_to_1_0_mu": "Particles 0.3-1.0 μm [1/cm³]",
            "n_03_to_2_5_mu": "Particles 0.3-2.5 μm [1/cm³]",
            "n_03_to_4_0_mu": "Particles 0.3-4.5 μm [1/cm³]",
            "n_03_to_10_0_mu": "Particle 0.3-10.0 μm [1/cm³]",
            "m_03_to_1_0_mu": "Particle mass 0.3-0.5 μm [μg/m³]",
            "m_03_to_2_5_mu": "Particle mass 0.3-2.5 μm [μg/m³]",
            "m_03_to_4_0_mu": "Particle mass 0.3-4.5 μm [μg/m³]",
            "m_03_to_10_0_mu": "Particle mass 0.3-10.0 μm [μg/m³]"
        }

        function populateChart(plots, data) {
          /*
          For all charts and all associated sensor types
          register the sensors in the legend of the chart by using
          identifier or serial number and add the data to the canvas
          data field provided in the data argument
          plots: list of canvas elements. Each canvas element corresponds to a single
          physical unit and contains serial numbers of all sensors measuring these values
          */

          // For each plot parsed
          for (const [_, chart] of Object.entries(plots)) {
            // For each sensor of the parsed sensor type,
            // for each sensor type supported by this plot
            // display measurement results
            min_t = 1e10;
            for (const [_, sensor_type] of Object.entries(chart.sensor_types)) {
              for (const [_, sensor] of Object.entries(data[sensor_type])) {
                chart_contains_dataset = false;
                for (const [_, chart_data] of Object.entries(chart.data.datasets)) {
                  if (chart_data.serial === sensor.SENSORserial) {
                    chart_contains_dataset = true;
                      continue
                  }
                }

                // Read quantity that has been assigned in the canvas object.
                let data_type = chart.canvas.attributes.data_type.value
                // Check if plotting of data_type is activated for the current sensor
                let valid_sensor_plt_settings = plt_settings[sensor.SENSORserial].indexOf(data_type) !== -1

                // Register sensor at chart
                if (!chart_contains_dataset && valid_sensor_plt_settings) {
                  // Extract sensor identifier (use serial if no identifier is provided))
                  var label = sensor.SENSORserial;
                  if (sensor.SENSORidentifier !== ""){
                    label = sensor.SENSORidentifier;
                  }
                  chart.data.datasets.push({
                      label: label,
                      data: [],
                      borderColor: sensor.Color,
                      pointBackgroundColor: sensor.Color,
                      serial: sensor.SENSORserial
                  });
                } 

                // Get correct axis labels (Use Unknown if unknown)).
                var xLabel = "Time [min]";
                var yLabel = "Unknown";
                if (data_type in data_types){
                  yLabel = data_types[data_type]
                }

                // Set chart details
                chart.type = 'line';
                chart.config.options.scales.x.title.text = xLabel
                chart.config.options.scales.y.title.text = yLabel


                // Populate chart data
                // For each dataset
                for (var n = 0; n < chart.data.datasets.length; n++) {
                  // If dataset matches SensorSerial
                  if (chart.data.datasets[n].serial == sensor.SENSORserial) {
                    chart.data.datasets[n].data = []
                    if (plt_settings[sensor.SENSORserial] === undefined) {
                      console.log(sensor.SENSORserial + ' not mentioned in current setup. (plotting anyway).')
                    } else if (plt_settings[sensor.SENSORserial].indexOf(data_type) === -1 ) {
                      break
                    }

                    var plot_data = chart.data.datasets[n].data
                    for (var m=0; m<sensor.results.length; m++) {
                      t = Date.parse(sensor.results[m].time) - Date.parse(data.start_measure)
                      plot_data.push({x: (t/60000).toFixed(2), y:sensor.results[m][data_type]})
                    }
                  }
                }
              }
              let data_type = chart.canvas.attributes.data_type.value

              chart.update()
            }
          }
        }


        // Chart design options.
        var options = {
            elements:{
                line: {
                    fill: false,
                    showLine: false,
                    tension: 0 // disable bezier curves
                }
            },
            animation: {
                duration: 0
            },
            hover: {
                animationDuration: 0
            },
            responsiveAnimationDuration: 0,
            title: {
                display: true,
                labelString: name
            },
            backgroundColor: "#fff",
            scales: {
                x: {
                    bounds: 'data',
                    type: 'linear',
                    position: 'bottom',
                    title:{
                        display: true,
                        labelString: "Time [min]"
                    }
                },
                y: {
                    type: 'linear',
                    position: 'left',
                    title:{
                        display: true,
                        labelString: ""
                    }
                }
            },
            plugins: {
                legend: {
                    fullSize: false,
                    display: true,
                    position: 'right',
                    align: 'start',
                    labels: {
                      boxWidth: 20,
                    }
                },
            }
        };

        base_url = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
        var request_time = 3000

        function getData() {
            fetch(base_url + "/api/measurement").then(function(response){
              return response.json()
            }).then(function(data){
                request_time = parseInt(data.slice(-1)[0].avg_bucket_size) * 1000
                if (request_time < 3000) {
                    request_time = 3000
                }
            });
            average_url = base_url + "/api/plot/{{ measurement_details.id }}"
            return fetch(average_url)
        }
    
        function updateChart(){
            // Get canvas elements.
            var ctx =  $("chart");

            // Read chart.js relevant parameters.
            var ctx_length = ctx.length;

            let update_process = getData().then(function(response){
              return response.json()
            }).then(function(data){
              plots = {}
              for (const [_,sensor_type] of Object.entries(sensor_types)) {
                if (data[sensor_type].length == 0) {
                  continue
                }
                // Register charts
                for (const [_,sensor] of Object.entries(data[sensor_type])) {

                  for (const [_,unit ] of Object.entries(sensor["units"])) {
                      let ch = $('.chart[data_type='+unit['qty']+']')
                      if (ch.length === 0) {
                        continue
                      }
                      let qty = unit["qty"]
                      if (qty in plots) {
                        // If plot has been registered already add relevant sensors
                        plots[qty].SENSORserials.push(sensor.SENSORserial)
                        if (plots[qty].sensor_types.indexOf(sensor_type) < 0) {
                          plots[qty].sensor_types.push(sensor_type)
                        }
                      } else {
                        let plot = new Chart(ch, {type:'line', options:options})
                        plot.unit = unit
                        plots[qty] = plot
                        plots[qty].SENSORserials = [sensor.SENSORserial]
                        plots[qty].sensor_types = [sensor_type]
                      }
                  }
                }
              }
              populateChart(plots, data)
              return plots
            })
            return update_process
        }
        var timer; //current timeout id to clear
        updateChart().then(function(plots){
          (function repeat() {
            getData().then(function(response){
              return (response.json())
            }).then(function(data) {
              populateChart(plots, data)
              timer = window.setTimeout(repeat, request_time)
            })
          })();
        });
    </script>
  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card ">
               <div class="card-header bg-warning strong">
                 No measurement data!
               </div>
             <div class="card-body">
               <p class="card-text">
               Go to the <a href="/init" >Setup menu </a> to initialize sensors if no sensors 
               or quick start a measurement via the top menu bar 
               or schedule a measurement via the <a href="/start">Measurement menu</a> entry.
               </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

<script>
    $(function(){
        var hash = window.location.hash;
        hash && $('ul.nav a[href="' + hash + '"]').tab('show');

        $('.nav-tabs a').click(function (e) {
        $(this).tab('show');
            var scrollmem = $('body').scrollTop();
            window.location.hash = this.hash;
            $('html,body').scrollTop(scrollmem);
        });
    });
</script>


