<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT
-->

{% extends "measurement_server/bootstrap_base.html" %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js" />
{% endblock %}


{% block pageTitle %} Downloads {% endblock %}


{% block content %}


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Datasheets</h1>
        <p class="lead text-muted">Holds all data sheets of devices the MMS has been tested with. </p>
    </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for download in downloads %}
        <div class="col-md-3 mb-4">
          <div class="card box-shadow h-100">
            <div class="card-body h-20 justify-content-center">
                <a href="/files/{{ download.url }}">	
                  <img class="card-img-top justitify-content-center" src="/files/{{ download.image }}">
                </a>
            </div>
            <div class="card-footer justify-content-center">
              <p class="card-text">
                {{ download.name }}
              </p>
              <div class="d-flex align-items-center">
                <a href="/files/{{ download.url }}">
                  <button class="btn" ><i class="fa fa-download"></i> Download</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
