<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT
-->

{% extends "measurement_server/bootstrap_base.html" %}
{% block pageTitle %} 
  Live  
{% endblock %}

{% block content %}
  {% load staticfiles %}
  <html>
    <head>
      <script type="text/javascript" src="{% static 'js/jquery.js' %}"> </script>
      <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"> </script>
    </head>
    <body class="bg-light">
      <div class="h2 d-flex justify-content-center p-2">
        Live data monitor  
      </div>

      <div class="container">
      {% if live_url %}

          <div class="row">
            <div class="alert alert-danger sensor-alert" role="alert" hidden>
                <h5>
                    Errors or warnings
                </h5>
                <table class="table table-sm">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Port</th>
                      <th scope="col">Identifier</th>
                      <th scope="col">Serial</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="sensor-alert-default" hidden>
                      <td style="background-color:#fff"class="port" ></td>
                      <td style="background-color:#fff"class="identifier"></td>
                      <td style="background-color:#fff"class="serial"></td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="alert alert-secondary" role="alert">
              Averaged measurement values are calculated using the <strong> last <span id="meanValues"></span> values </strong>.
              This can be changed in <span class="font-weight-light">Settings > General > Server. </span> 
              If stream mode is active the most recent values are displayed (no averaging).
            </div>
          </div>
          <div class="row" id="measurementTables">
             {% for unit in units %}
               {% include "measurement_server/includes/live_table.html" with quantity=unit.qty height=live_view_table_height %}
             {% endfor %}
          </div>
        {%else%}
          <div class="row justify-content-md-center">
            <div id="alert"></div>
            <div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <button type="button" class="btn btn-primary" onClick="window.location.reload();">Refresh Page</button>
          </div>
        {% endif %}
        </div>
  
        {{ sensor_numbers|json_script:"sensor_numbers" }}
  
      <script type="module">
        import {humanReadableUnitStrings, humanReadableTableHeadingStrings} from "/static/js/helpers.js"
        import {computeDerivedQuantities} from "/static/js/live_calculations.js"
        import {toggleSensorToMeanSet, doSelectAllSensors} from "/static/js/live_calculations.js"
        import {sortMeasurementTable} from "/static/js/table_tools.js"
        import {meanValueString} from "/static/js/helpers.js"

        $(".unit").each(function(){
            humanReadableUnitStrings(this)
        })
        $(".table-qty").each(function(){
            humanReadableTableHeadingStrings(this)
        })

        $('.multi-select-qty').on('click', function(){doSelectAllSensors(this);})
        //$('.checkbox.sensor').on('click', function(){toggleSensorToMeanSet(this);})
        $('.checkbox.sensor').click(toggleSensorToMeanSet)
        $('.sensor-th').on('click', function(){
          sortMeasurementTable(this, true);
        })
        $('.table-qty').on('click', function(){
          sortMeasurementTable(this, true);
        })

        // plot update function using a given url
        var updateTable = function(url, sensor_types) {
          // EXTRACT VALUE FOR HTML HEADER. 
          var ftdi_hw_details = {
              "ftdi": {"tooltip": "FTDI identifier", "color": "badge-danger", "data": "FTDIserial"},
              "mux": {"tooltip": "Soldered MUX address", "color": "badge-dark", "data": "MUXaddress"},
              "port": {"tooltip": "MUX port", "color": "badge-light", "data": "MUXport"},
              };
  
          var com_hw_details = {
              "COM": {"tooltip": "COM Port", "color": "badge-danger", "data": "COMport"},
              };
  
          var base_url = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
          url = base_url + url
  
          document.getElementById("meanValues").innerHTML = url.split("/").slice(-1)[0]

          fetch(url).then(response => {
            return response.json()
          })
          .then(data=> {
            // Supported sensors
            // Result entries that will not be shown
            var sensor_alert_active = false;
  
            var excludes = ["Color", "FTDIserial", "MUXaddress", "time", "MUXport", "SENSORidentifier", "SENSORserial", "COMport", "Frequency"]
            var n_sensors = {}
            for (var i=0; i<sensor_types.length; i++) {
              if (data[sensor_types[i]] !== []) {
                n_sensors[sensor_types[i]] = data[sensor_types[i]].length
              }
            }
  
            var n_sht = data.sht.length;
            var n_sfm = data.sfm.length;
            var n_smgair2 = data.smgair2.length;
            var n_max31865 = data.max31865.length;
            var n_s8000  = data.s8000.length;
            var n_sps30 = data.sps30.length;
            var n_scd30 = data.scd30.length;
            var n_ads1015 = data.ads1015.length;
            var n_bme280 = data.bme280.length;
            var n_sdp8 = data.sdp8.length;
  
  
            // For all supported sensor types
            for (var i=0; i<sensor_types.length; i++) {
              // If sensor has been detected
              if (data[sensor_types[i]].length > 0) {
                // fetch relevant result columns
                var result_cols = []
                var keys = Object.keys(data[sensor_types[i]][0])
                for (var n=0; n < keys.length; n++) {
                  if (! excludes.includes(keys[n])) {
                    result_cols.push(keys[n])    
                  }
                }
                for (var c in result_cols) {
                  // Select table corresponding to measurement quantity
                  let body_id = '#'+result_cols[c]+"Table"
                  var body = $(body_id + " .value-tab")[0];
                  var hw_details = null
                  for (var j in data[sensor_types[i]]) {
                    if (data[sensor_types[i]][0]["FTDIserial"] !== "undefined") {
                        hw_details = ftdi_hw_details;
                    } else {
                        hw_details = com_hw_details;
                    }

                    let sensor_serial = data[sensor_types[i]][j]["SENSORserial"];


                    // If sensor entry is missing add row to table and assign 
                    // an id corresponding to the sensor identifier
                    let sensor_selector = "tr#"+sensor_types[i]+"_"+sensor_serial+"_"+result_cols[c]
                    sensor_selector =  sensor_selector.replace("@", "\\@")
                    tr = $(sensor_selector);
                    if (tr.length == 0) {
                      var tr = $(body_id +" #sensor-default");
                      var new_tr = tr.clone(true);
                      new_tr.removeAttr("hidden");
                      new_tr.prop("id", sensor_types[i]+"_"+sensor_serial+"_"+result_cols[c]);
                      new_tr.attr("sn", sensor_serial);
                      new_tr.attr("sensor_type", sensor_types[i]);
                      new_tr.attr("quantity", result_cols[c])

                      tr.after(new_tr)
                      tr = new_tr;
                    }

                    // Update sensor value
                    var N = data[sensor_types[i]][0][result_cols[c]].length
                    var mean_sensor_value = meanValueString(data[sensor_types[i]][j][result_cols[c]], N)

                    if (isNaN(mean_sensor_value.value)){
                      tr.find('.unit').prop("hidden", "true")
                    } else {
                      tr.find('.unit').removeAttr("hidden")
                    }
                    tr.find('.current-value')[0].innerHTML = mean_sensor_value.value

                    // Update error sign and its tooltip.
                    var error_sign= tr.find('.sensor-state')
                    if (mean_sensor_value.error > 0) {
                        sensor_alert_active = true;
                        error_sign.removeAttr("hidden")
                        if (mean_sensor_value.error == mean_sensor_value.samples) {
                            error_sign.removeClass("text-warning");
                            error_sign.addClass("text-danger");
                            add_alert_trace(data[sensor_types[i]][j], hw_details)
                        } else {
                            error_sign.addClass("text-warning");
                            error_sign.removeClass("text-danger");
                            add_alert_trace(data[sensor_types[i]][j], hw_details)
                        }
                        let error_text = mean_sensor_value.error  + " of last " + mean_sensor_value.samples + " invalid."
                        error_sign.find('title').html(error_text)
                    } else {
                        error_sign.attr("hidden", "true")
                        let sn = data[sensor_types[i]][j]['SENSORserial'];
                        $("#error_"+sn.replace("@", "at")).remove();
                    }

                    // Update sensor information dropdown
                    tr.find(".frequency").find(".value").html(data[sensor_types[i]][j]["Frequency"])
                    tr.find(".serial").find(".value").html(data[sensor_types[i]][j]["SENSORserial"])
                    for (var el in hw_details) {
                      let info = data[sensor_types[i]][j][hw_details[el]["data"]];
                      let entry = tr.find("."+el);
                      entry.removeAttr("hidden");
                      entry.find(".value").html(info);
                    }

                    // Update sensor identifier
                    var slug_text = null
                    if (data[sensor_types[i]][j]["SENSORidentifier"]){
                      slug_text = data[sensor_types[i]][j]["SENSORidentifier"]
                    } else {
                      slug_text = data[sensor_types[i]][j]["SENSORserial"]
                    }
                    tr.find('.sensor-slug').html(slug_text)


                  }
                  // Most recent time stamp
                  let t_sens  = new Date(data[sensor_types[i]][j]["time"].slice(-1)[0]);
                  let t_sys = new Date(data["systime"]);
                  let dt = (t_sys-t_sens) / 1000.;

                  if (dt > {{ warning_thres }}) {
                    sensor_alert_active = true;
                    var error_sign= tr.find('.sensor-state')
                    error_sign.removeAttr("hidden")
                    error_sign.removeClass("text-warning");
                    error_sign.addClass("text-danger");
                    add_alert_trace(data[sensor_types[i]][j], hw_details)
                  } else if (sensor_alert_active == false){
                    let sn = data[sensor_types[i]][j]['SENSORserial'];
                    sn = sn.replace("\@", "at")
                    $("#error_"+sn).remove();
                  }
                }
              }
            }

            if (sensor_alert_active) {
              $('.sensor-alert').removeAttr("hidden")
            } else {
              $('.sensor-alert').attr("hidden", "true")
            }

            if ($('.result-table th[active=true]').length > 0) {
              $('.result-table th[active=true]').each( function() {
                sortMeasurementTable(this, false)
              }
            )}

            let result_tables = $('.result-table')
            if (result_tables.length > 0) {
              result_tables.each( function() {
                computeDerivedQuantities(this)
              })
            }
          });
        }
        function add_alert_trace(data, hw_details) {
            var sensor_alert = $('.sensor-alert')
            var tr = $("#sensor-alert-default");
            let sn = data['SENSORserial']
            let identifier = data['SENSORidentifier']
            if (sensor_alert.find(":contains("+sn+")").length == 0) {
                var new_tr = tr.clone(true);
                new_tr.removeAttr("hidden")
                new_tr.find(".identifier").html(identifier);
                new_tr.attr("id", "error_"+sn.replace("@", "at"))
                let port = ""
                if ("ftdi" in hw_details){
                    port += data[hw_details["ftdi"]["data"]] + " "
                }
                port += data[hw_details["port"]["data"]] 
                new_tr.find(".port").html(port);
                new_tr.find(".serial").html(sn);
                tr.after(new_tr)
                tr = new_tr;
            }
        }

        $(document).ready(function(){ 
            //var sensor_types = ["sht", "sfm", "max31865", "scd30", "bme280", "ads1015", "sdp8", "nau7802", "sps30", "smgair2", "s8000"]
            var sensor_types = []
            for (const [sensor_type, count] of Object.entries(JSON.parse(document.getElementById('sensor_numbers').textContent))) {
              if (count > 0) {
                sensor_types.push(sensor_type)
              }
            }

            {% if live_url %}
              updateTable("{{ live_url }}", sensor_types);
              setInterval(function(){updateTable("{{ live_url }}", sensor_types);}, 2000);
            {% else %}
              var alertField = document.getElementById('alert');
              alertField.innerHTML = "<div class='alert alert-danger'> No live measurement found! </div>";
            {% endif %}
        }) 

      </script>
    </body>
  </html>
  
{% endblock %}
