# SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
#
# SPDX-License-Identifier: MIT

{% extends "measurement_server/bootstrap_base.html" %}
{% block pageTitle %} Home {% endblock %}

{% block content %}

<div class="container" >
	<div class="row">
		<div class="col-md-12" align="center" style="margin:10px">
			<h3> Tables of measurement results</h2>
		</div>
	</div>
</div>

<!-- if a measurement is running display interrupt button -->
<script type="text/javascript"> 
	var data = {}
	setInterval(function(){ 
		var btn_abort = document.getElementById("measurementAbort");
		// get init data from API
		fetch('/api/results/30/')
		.then(function(response) {
			return response.json();
		}).then(function(response){
			data = response;
		});
	},1000);
	function CreateTableFromJSON() {

		// EXTRACT VALUE FOR HTML HEADER. 
		// ('Book ID', 'Book Name', 'Category' and 'Price')
		var col = ["temperature", "time", "humidity"];

		// CREATE DYNAMIC TABLE.
		var table = document.createElement("table");

		// CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

		var tr = table.insertRow(-1);                   // TABLE ROW.

		for (var i = 0; i < col.length; i++) {
			var th = document.createElement("th");      // TABLE HEADER.
			th.innerHTML = col[i];
			tr.appendChild(th);
		}

		// ADD JSON DATA TO THE TABLE AS ROWS.
		for (var i in data.sht[0].results) {
			tr = table.insertRow(-1);
		for (var j = 0; j < col.length; j++) {
			var tabCell = tr.insertCell(-1);
			tabCell.innerHTML = data.sht[0].results[i][col[j]];
		}
		}

		// FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
		var divContainer = document.getElementById("showData");
		divContainer.innerHTML = "";
		divContainer.appendChild(table);
	}
</script>
    <input type="button" onclick="CreateTableFromJSON()" value="Create Table From JSON" />
        <p id="showData"></p>
	


{% endblock %}

