<!--
    SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
    SPDX-License-Identifier: MIT
-->

{% extends "measurement_server/bootstrap_base.html" %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js" />
{% endblock %}

{% load static %}

{% block pageTitle %} Settings {% endblock %}


{% block content %}
{% load staticfiles %}

<div class="container">
	<div class="h2 d-flex justify-content-center p-2">
		Settings
	</div>
	<ul class="nav nav-tabs" role="tablist" >
		<li class="nav-item">
			<a 
                data-toggle="tab"
                href="#sensors"
                role="tab"
                aria-expanded="true"
                {% if tabname == "" or tabname == "sensors" %}
                    class="nav-link active"
                {% else %}
                    class="nav-link"
                {% endif %}>
                Sensors
            </a>
		</li>
		<li class="nav-item">	
			<a 
                data-toggle="tab"
                href="#data"
                role="tab"
                aria-expanded="true"
                {% if tabname == "data"%}
                    class="nav-link active"
                {% else %}
                    class="nav-link"
                {% endif %}>
                Data
            </a>
		</li>
		<li class="nav-item">
			<a 
                data-toggle="tab"
                href="#general"
                role="tab"
                aria-expanded="true"
                {% if tabname == "general"%}
                    class="nav-link active"
                {% else %}
                    class="nav-link"
                {% endif %}>
                General
            </a>
		</li>
		<li class="nav-item">
			<a 
                data-toggle="tab"
                href="#log"
                role="tab"
                aria-expanded="true"
                {% if tabname == "log"%}
                    class="nav-link active"
                {% else %}
                    class="nav-link"
                {% endif %}>
                Log
            </a>
		</li>
		<li class="nav-item">
			<a 
                data-toggle="tab"
                href="#system"
                role="tab"
                aria-expanded="true"
                {% if tabname == "system"%}
                    class="nav-link active"
                {% else %}
                    class="nav-link"
                {% endif %}>
                System
            </a>
		</li>
		<li class="nav-item">
			<a 
                {% if tabname == "about"%}
                    class="nav-link active"
                {% else %}
                    class="nav-link"
                {% endif %}
                data-toggle="tab"
                href="#about"
                role="tab"
                aria-expanded="true">
                About
            </a>
		</li>
	</ul>

	<div class="tab-content clearfix">
        {% include "measurement_server/includes/settings/sensor.html" %}
        {% include "measurement_server/includes/settings/data.html" %}
        {% include "measurement_server/includes/settings/general.html" %}
        {% include "measurement_server/includes/settings/log.html" %}
        {% include "measurement_server/includes/settings/system.html" %}
        {% include "measurement_server/includes/settings/about.html" %}
    </div>
</div>

<script>

// Make sure the user can only submit unique sensor identifier
$(document).ready(function(){
    $('.sensor-identifier').change(function(){
            let identifier_fields = $('.sensor-identifier')
            let warning_field = $('#identifier-not-unique-warning')
            let sensor_submit = $('#sensor-submit')
            let changed = false

            identifier_fields.removeClass("bg-warning");
            warning_field.css("display", "none")
            sensor_submit.css("display", "block")

            for (let i=0; i<identifier_fields.length-1; i+=1) {
                for (let j=i+1; j<identifier_fields.length; j+=1) {
                    if (identifier_fields[j].value == identifier_fields[i].value) {
                        identifier_fields[i].classList.add("bg-warning")
                        identifier_fields[j].classList.add("bg-warning")
                        // If identifier is not unique deactivate the "Save"-button
                        // and highlight non-unique sensor fields
                        warning_field.css("display", "block")
                        sensor_submit.css("display", "none")
                    }
            }
        }
    })
})

$(function(){
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');

    $('.nav-tabs a').click(function (e) {
    $(this).tab('show');
        var scrollmem = $('body').scrollTop();
        window.location.hash = this.hash;
        $('html,body').scrollTop(scrollmem);
    });
});
</script>

<script type="module">
    import {sortTable} from "/static/js/table_tools.js"
    $('.sortableTable').each(function () {
        let tab = this
        let th = this.tHead.rows[0].cells
        for (let i=0; i<th.length; i=i+1) {
            th[i].onclick = function() {sortTable(tab, th[i].attributes.colnumber.value);}
            console.log(th[i])
        }
        //.find("thead > tr > th").each(function() {console.log(this.attributes.colnumber.value)})

    })
</script>


<!-- if a measurement is running display live in main nav -->
<script type="text/javascript"> 

    // Toggle all selected plot quantities
    $('option[initial=True]').attr('selected', true)

    updateInfo = function (){
        var storage = document.getElementById("storage_info");
	// if a measurement is running hide delete-all button 
        var delete_all = document.getElementById("delete_all_first");
        var delete_all_off_notification = document.getElementById("delete_all_off_notification");

        // get init data from API
        fetch('/api/measurement/')
        .then(function(response) {
          return response.json();
        }).then(function(response){
          var live = response.slice(-1)[0];
          if (live.disk_space<1){
              storage.classList.add("text-danger");
          } 
          storage.innerHTML = "<i class='fas fa-database' style='float:left'></i>&nbsp;" + live.disk_space+ " GB free disk space.";
	    if (live.active === true) {
          delete_all.style.display = "none"
	      delete_all_off_notification.style.display = "block"	
          let active_trace_stop = $('#mr_'+live.result_id+'>.mr_stop')
          active_trace_stop.html('Running') 
          active_trace_stop.addClass("text-danger")

	    } 

        });
    };
    updateInfo();
</script>


{% endblock %}
